{
    "extends": [
      "eslint:recommended",
      "plugin:prettier/recommended",
      "plugin:react/recommended",
      "plugin:compat/recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "env": {
      "browser": true,
      "es6": true,
      "node": true
    },
    "rules": {
      "prettier/prettier": [
        "error",
        {
          "singleQuote": true
        }
      ],
      "no-console": "off",
      "react/prop-types": 0,
      "react/no-unescaped-entities": 0,
      "react/display-name": 1,
      "compat/compat": 1,
      "@typescript-eslint/no-unused-vars": 0
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "parserOptions": {
        "sourceType": "module"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
  }